<form class="form">
  <div class="form-group has-success">
    <label class="form-label" for="formGroupExampleInput">Example label</label>
    <input type="text" class="form-control form-control-success" id="formGroupExampleInput" placeholder="Example input">
  </div>
  <div class="form-group has-danger">
    <label class="form-label" for="formGroupExampleInput2">Another label</label>
    <input type="text" class="form-control form-control-danger" id="formGroupExampleInput2" placeholder="Another input">
    <div class="form-control-feedback">Sorry, that username's taken. Try another?</div>
  </div>
</form>
