.countries {
  // background-image: linear-gradient(to right,#fdfdfd 0%,#f8f9f8 100%);
  background: #f9fbfc;
  min-height: 1500px;
  /**
   * Categories
   */
  &__categories {
       display: flex;
       justify-content: center;
       align-items: center;
       padding-top: 7em;
       padding-bottom: 1rem;
       border-bottom: 1px solid #e2e6eb;
       @include media("<lg"){
         justify-content: flex-start;
         overflow-x: auto;
         min-height: 0.01%;
         overflow-y: hidden;
         -ms-overflow-style: -ms-autohiding-scrollbar;

         &::-webkit-scrollbar {
             width: 2px;
         }

        //  &::-webkit-scrollbar-track {
        //      background: #FFFFFF;
        //  }

         &::-webkit-scrollbar-thumb {
             background: #e2e2e2;
         }
       };
  }
  /**
   * Empty block for margin
   */
   .countries__empty-block {
       &-inner {
           width: 2em;
           height: 2em;
       }
   }


  &__category {
      $cat: &;
      $cat-title-line: '#{&}-title:before';
      padding: 1.2rem 1.5rem;
      margin: 0 1em;
      cursor: pointer;
      border-radius: 8px;
      transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      white-space: nowrap;
      flex-grow: 1;
      // different colors in active
      &--europe.active {
        color: #148ec7;
        svg {
          fill: #148ec7;
        }
        #{$cat-title-line} {
          background-color: #148ec7;
        }
      }
      &--asia.active {
        color: #e40b7f;
        svg {
          fill: #e40b7f;
        }
        #{$cat-title-line} {
          background-color: #e40b7f;
        }
      }
      &--america.active {
        color: #f8af01;
        svg {
          fill: #f8af01;
        }
        #{$cat-title-line} {
          background-color: #f8af01;
        }
      }
      &--australia_and_new_zealand.active {
        color: #7eba32;
        svg {
          fill: #7eba32;
        }
        #{$cat-title-line} {
          background-color: #7eba32;
        }
      }
      &:first-child {
        margin-left: 15px;
      }

      // icon
      &-icon {
        svg {
          display: block;
          margin: 0 auto 1em;
          transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        }
      }
      // title
      &-title {
        margin-bottom: 0;
        color: inherit;
        font-family: 'Raleway',sans-serif;
        font-size: 2.4em;
        transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        &-label {
          color: #656464;
        }
        #{$cat}.active &-label {
          color: #141414;
        }
        @include media("<xl"){
          font-size: 2.7em;
        };
        @include media("<md"){

          font-size: 2.5em;
        };
        @include media("<sm"){
          font-size: 2.2em;
        };
        &:before {
          width: 100%;
          transition: 0.3s cubic-bezier(.25,.8,.25,1);
          bottom: -2.4rem;
          height: 0.3rem;
          transform: scale(0, 1);
        }


        #{$cat}.active &:before {
          transform: scale(1);
        }

      }
      &-inner {
        position: relative;
        z-index: 2;
      }
      // active category
      &.active {
          position: relative;
          background: #fff;
          // box-shadow: 0 1rem 2rem rgba(52, 58, 53, 0.19), 0 10px 10px rgba(255, 255, 255, 0.22);
          // filter: drop-shadow(0 0 5px white) drop-shadow(0 0 15px #f0fff1);
          user-select: none;

      }
  }


  /**
   * Sliders
   */
   &__sliders {
       margin: 2em 0 4em;
       @include media("<lg"){
             padding-bottom: 8em;
       };
   }
  /**
   * Tables
   */
  &__tables {
      margin: 2em auto;
      .preloader {
        z-index: 1;
        min-height: 15em;
      }
      .table {
        display: none;
        &.active {
          display: flex;
        }
      }
  }


}



/**
 * Country-block component
 */

.country-block {
  display: flex;
  align-items: center;
  &__label {
    display: flex;
    align-items: center;
  }

  &__flag {
      position: relative;
      display: flex;
      &:before {
          position: absolute;
          content: "";
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          background: linear-gradient(to bottom, rgb(240, 240, 240), transparent);
          transform: scale(1.1);
          box-shadow: 0 0 0 2px rgba(200, 222, 230, 0.52);
      }
  }
  &__flag-icon {
      font-size: 3em;
      border-radius: 50%;
      &:before {
        position: relative;
        z-index: 2;
      }
  }

  &__country-name {
      margin-left: 1em;
      font-size: 1.2em
  }
}


/**
 * Slider setup
 */
.countries__slider {
  position: relative;
  @include media(">=lg", "<1300px"){
    padding: 0 6em;
  };
  // increase font-size for small devices
  @include media("<md"){
      font-size: 1.25em;
  };
  @include media("<sm"){
      font-size: 1.4em;
  };
  // states
  // normal state
  & {
      opacity: 0;
      transition: 0.3s ease-in-out opacity, 0.4s linear transform;
      max-height: 100%;
  }
  // active state
  &.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0em);
  }
  // hidden state
  &.hidden {
      opacity: 0;
      transform: translateY(3em);
      display: block;
      max-height: 0;
  }
  .swiper-container {
    padding: 4px;
  }
  .swiper-button-prev, .swiper-button-next {
      background-color: #ffffff;
      background-size: 3.8em 3.8em;
      height: 6.4em;
      box-shadow: 4px 4px 0 rgba(45, 70, 104, 0.06), 0 0 0 1px rgba(45, 70, 104, 0.06);
      filter: grayscale(0.9);
      &:hover {
        filter: grayscale(0);
      }
      @include media(">=sm","<lg"){
        top: auto;
        bottom: -6em;
        left: 0;
        right: 0;
        margin: auto;
        width: 5em;
        height: 5em;
        background-size: 3em 3em;
      };
      @include media("<400px"){
        top: auto;
        bottom: -6em;
        left: 0;
        right: 0;
        margin: auto;
        width: 5em;
        height: 5em;
        background-size: 3em 3em;
      };

  }
  .swiper-button-prev {
      @include media(">=1300px"){
        transform: translate(-6em, 0);
        &:hover {

        }
      };
      @include media(">lg","<1300px"){
        transform: none;
      };
      @include media(">=sm","<lg"){
        transform: translate(-3.3em, 0);
      };
      @include media("<sm"){
        transform: none;
      };
      @include media("<400px"){
        transform: translate(-70%, 0);
      };
  }
  .swiper-button-next {
    @include media(">=1300px"){
      transform: translate(6em, 0);
      &:hover {

      }
    };
    @include media(">lg","<1300px"){
      transform: none;
    };
    @include media(">=sm","<lg"){
      transform: translate(3.3em, 0);
    };
    @include media("<400px"){
      transform: translate(70%, 0);
    };
  }
  .swiper-wrapper {
      margin: auto;
  }
  // country-block component mod styles
  .country-block {
    $block: &;
    display: block;
    margin-bottom: 1em;
    padding: 2em;
    background-color: #fff;
    box-shadow: 4px 4px 0 rgba(45,70,104,.06), 0 0 0 1px rgba(45,70,104,.06);
    position: relative;
    overflow: hidden;
    @include media("<sm"){
     width: 58%;
     min-width: 22em;
     margin-left: auto;
     margin-right: auto;
    };
    @include media("<400px"){
      width: auto;
      max-width: 100%;
    };
    &__country-name {
        font-size: 1.8em;
        &-prefix {
          font-size: 75%;
        }
    }
    &__data-container {
      position: relative;
      margin: 1em -2em -2em;
      padding: 0.5em 2em;
      background: rgba(248, 249, 248, 0.55);
      text-align: right;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__time {
      font-size: 1.4em;
      color: #095375;
      display: flex;
      align-items: center;
    }
    &__time-before {
      margin-right: 0.4em;
      &-icon {
          font-size: 1.4em;
          color: #148ec7;
      }
    }
    &__price-before {
        margin-right: 0.2em;
        display: flex;
        align-items: center;
        &-prefix {
            margin-left: 0.5em;
        }
        &-icon {
            font-size: 1.4em;
            color: #148ec7;
        }
    }

    &__price {
      display: flex;
      align-items: center;
      font-size: 1.4em;
      color: #012b07;
      &-value {
        font-size: em-rel(2.5, 1.4);
        color: $base-color--green;
      }
    }
    &__detail {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(251, 254, 255, 0.92);
        border: 1px solid rgba(0, 128, 0, 0.39);
          opacity: 0;
         visibility: hidden;
         transition: 0.5s ease;
         z-index: 1;
         cursor: pointer;

        &-button {
            position: absolute;
            color: white;
            background: #42a01a;
        }
    }
    @at-root #{$block}:hover .country-block__detail {
       opacity: 1;
       visibility: visible;
    }

    // more container with icon for touch-devices
    &__more {
        position: absolute;
        right: 0.5em;
        top: 0.6em;
        font-size: 2.5em;
        color: #7c899a;
        transition: 0.4s ease-out;
        opacity: 1;

        &-icon{
          background: #f9f9f9;
          width: 1.2em;
          height: 1.2em;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 3px;
        }
    }
    @at-root #{$block}:hover .country-block__more {
      transform: translate(0, 30%);
      opacity: 0;
    }


  }
}

/** Custom classes **/
.sbor {
    font-size: 85%;
    color: #776d02;
    &+div {
      font-size: 85%;
    }
}
