<section class="section countries">
  {# Coutries categories #}
<div class="container">
  <h2 class="section__title countries__title">{{ title }}</h2>
  <h3 class="section__subtitle countries__subtitle">{{ subtitle }}</h3>
  <div class="countries__categories">
    {% for category in categories %}
      <div class="countries__category countries__category--{{ category.slug }} {% if loop.first %}active{% endif %}" data-category="{{ category.slug }}">
        <div class="countries__category-inner text-center">
          <div class="countries__category-icon">
            {% include category.slug + '.svg' %}
          </div>
          <h2 class="section__title section__title--underlined countries__category-title countries__category-title--{{ category.slug }}"><span class="countries__category-title-label">{{ category.name }}</span></h2>
        </div>
      </div>
    {% endfor %}
    <!-- just for margin -->
    <div class="countries__empty-block">
      <div class="countries__empty-block-inner">
      </div>
    </div>

  </div>
</div>
  {# Countries sliders with countries #}
  <div class="countries__sliders">
    <div class="container">
      {% for category in categories %}
      <div class="countries__slider countries__slider--{{ category.slug }} {% if not loop.first %}hidden{% else %}active{% endif %}" data-category="{{ category.slug }}">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            {% for table in category.tables %}
              {% set country_name = table.country.name %}
              {% set country_code = table.country.code %}
              {% set startPrice = table.country.startPrice %}
              {% set startTerm = table.country.startTerm %}
              {% set startTermWeeks = table.country.startTermWeeks %}
              <div class="swiper-slide countries__slide" data-country="{{ country_name | striptags }}" data-category="{{ category.slug }}">
                {# Country-block component #}
                <div class="country-block" data-country="{{ country_name | striptags }}" data-country-code="{{ country_code }}" data-category="{{ category.slug }}">
                  <div class="country-block__label">
                    <div class="country-block__flag">
                      <i title="{{ country_name | striptags  }}" alt="{{ country_name | striptags }}" class="flag-icon flag-icon--{{ country_code }} flag-icon--squared country-block__flag-icon"></i>
                    </div>
                    <h3 class="country-block__country-name" title="{{ country_name | striptags  }}">{{ country_name  }}</h3>
                  </div>
                  <div class="country-block__data-container">
                    <div class="country-block__time">
                      <span class="country-block__time-before"><span class="country-block__time-before-icon ei-icon ei-clock_alt"></span></span>
                      <span class="country-block__time-value">
                        {% if startTermWeeks %}
                            <nobr>от {{ startTerm }}x&nbsp;недель</nobr>
                        {% else %}
                            <nobr>от {{ startTerm }}&nbsp;дней</nobr>
                        {% endif %}

                      </span>
                    </div>
                    <div class="country-block__price">
                      <span class="country-block__price-before"><span class="country-block__price-before-icon ei-icon ei-wallet"></span><span class="country-block__price-before-prefix">от</span></span>
                      <span class="country-block__price-value">
                        <nobr>{{ startPrice }}&nbsp;₽</nobr>
                      </span>
                    </div>
                  </div>
                  <div class="country-block__detail">
                    <button class="c-button c-button--secondary country-block__detail-button">
                      Подробнее
                    </button>
                  </div>
                  <div class="country-block__more"><span class="country-block__more-icon ei-icon ei-arrow_carrot-2down"></span></div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
        <!-- If we need navigation buttons -->
        <div class="countries__slider-button-prev swiper-button-prev swiper-button-green"></div>
        <div class="countries__slider-button-next swiper-button-next swiper-button-green"></div>
      </div>
      {% endfor %}
    </div>
  </div>
  {# Coutries tables #}
  <div class="countries__tables">
    <div class="container">
      {% render "@preloader" %}
      <div class="countries__tables-content">
        {% for category in categories %}
          {% for table in category.tables %}
            {% set tableClassName = 'table--country-'+ table.country.code%}
            {% set tableSettings = {
              customClassList: tableClassName,
              buttonType: category.buttonType
            } %}
            {% render "@responsive-table--country",
            table|objAssign(tableSettings),
            true %}
          {% endfor %}
        {% endfor %}
      </div>
    </div>
  </div>
 <div class="container">
   <div class="readmore text-center">Ознакомиться с полным перечнем наших услуг и списком стран вы можете на нашем сайте
     <a href="http://visatourservice.ru" title="Перейти на сайт">visatourservice.ru<span class="readmore__icon ei-arrow_carrot-right_alt2"></span></a>
   </div>
 </div>
</section>
