<footer class="site-footer">
  <div class="container container-relative">
    <div class="row">
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="site-footer__block">
          <div class="site-footer__block-header">
            Услуги
          </div>
          <div class="site-footer__block-item">
            <a href="http://visatourservice.ru/visa-c/" class="site-footer__block-link">Виза C</a>
          </div>
          <div class="site-footer__block-item">
            <a href="http://visatourservice.ru/visa-d/" class="site-footer__block-link">Виза Д</a>
          </div>
          <div class="site-footer__block-item">
            <a href="http://visatourservice.ru/franchising/" class="site-footer__block-link">Франшиза</a>
          </div>
          <div class="site-footer__block-item">
            <a href="http://visatourservice.ru/services/" class="site-footer__block-link">Дополнительные услуги</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="site-footer__block">
          <div class="site-footer__block-header">
            Реквизиты
          </div>
          <div class="site-footer__block-item">
            ООО “ВТС Консалтинг”
          </div>
          <div class="site-footer__block-item">
            ИНН 5407493380
          </div>
          <div class="site-footer__block-item">
            КПП 540701001
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="site-footer__block">
          <div class="site-footer__block-header">
            Контакты
          </div>
          <div class="site-footer__block-item">
            <a href="tel:8 495 150-46-56" class="site-footer__block-link site-footer__phone-number">
              <i class="icon ei-phone site-footer__block-item-icon"></i>8 495 150-46-56</a>
          </div>
          <div class="site-footer__block-item">
            <a href="mailto:info@visatourservice.ru" class="site-footer__block-link site-footer__email">
              <i class="icon ei-mail site-footer__block-item-icon"></i>info@visatourservice.ru</a>
          </div>
          <div class="site-footer__block-item">
            <a href="skype:vts-consalting" class="site-footer__block-link site-footer__skype">
              <i class="icon ei-social_skype site-footer__block-item-icon"></i>vts-consalting</a>
          </div>
        </div>
      </div>
      <div class="col-12 mt-5">
        <div class="row justify-content-center align-items-center">
          <div class="col-sm-6 site-footer__doc text-center text-sm-right">
            <a target="_blank" href="http://visatourservice.ru/documents/agreement_btc_consult.pdf" class="site-footer__block-link"><i class="icon ei-link site-footer__block-item-icon"></i>Пользовательское соглашение</a>
          </div>
          <div class="col-sm-6 site-footer__doc text-center text-sm-left">
            <a target="_blank" href="http://visatourservice.ru/documents/confidential_btc_consult.pdf" class="site-footer__block-link"><i class="icon ei-link site-footer__block-item-icon"></i>Политика конфиденциальности</a>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="site-footer__copyright text-center" >
          © Федеральная сеть визовых центров Visatourservice
          <br>
          <span>Правообладатель ООО «ВТС консалтинг» 2003-2017</span>
          <br>
          <span>Любое копирование, перепечатка и распространение материалов сайта без письменного разрешения владельцев сайта запрещены. Любые материалы сайта "ВизаТурСервис" запрещается копировать, кроме как для личного использования.</span>

        </div>

      </div>
    </div>
  </div>
</footer>
