<section{% if id %} id="{{ id }}"{% endif %} class="{{ sectionClassList }} p-section {% for mod in mods %} p-section--{{ mod }}{% endfor %} ">
  {% block section__custom %}
  {% endblock %}
  {% if titleConfig %}
  <header class="p-section__header">
    <div class="container">
      {% render "@section-title", titleConfig %}
      {% block section__header %}
      {% endblock %}
    </div>
  </header>
  {% endif %}
  <div class="p-section__main">
    {% block section %}
    {% endblock %}
  </div>
</section>
